LANGGRAPH_SURREALDB_URL=ws://surrealdb:8000
LANGGRAPH_SURREALDB_NS=langgraph
LANGGRAPH_SURREALDB_DB=checkpoint
LANGGRAPH_SURREALDB_TEST_ROOT_USER=root
LANGGRAPH_SURREALDB_TEST_ROOT_PASSWORD=secret
# supports: root, user, token
LANGGRAPH_SURREALDB_AUTH_MODE=root
LANGGRAPH_SURREALDB_USER=root
LANGGRAPH_SURREALDB_PASSWORD=secret